# Section debug
[debug]
backtrace_level=1                   # Backtrace level, can be 0, 1 or 2. Only level 1 and 2 are valid, others will be perceived as 0, can be overridden by BACKTRACE_LEVEL

[general]
attributes=%PWD%/attr               # This is attribute dictionary
data=%PWD%/data                     # This is data area
log=%PWD%/log                       # This is journaling
root=abcdef1234567890               # This is the root inode name
block_size=4096
